<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
		<title>西柚计算机协会-关于</title>
		<link rel="stylesheet" href="../res/layui/css/layui.css">
		<link rel="stylesheet" href="../res/static/css/index.css">
	</head>

	<body>
		<!-- nav部分 -->
		<div class="nav">
			<div class="layui-container">
				<!-- 协会logo -->
				<div class="nav-logo">
					<a href="./index.html">
						<p class="title" style="font-size: 30px;">
							<img src="http://39.106.218.57/img/ico_001.png" alt="西柚计算机协会"> 西柚计算机协会
						</p>
					</a>
				</div>
				<div class="nav-list">
					<button>
						<span></span><span></span><span></span>
					</button>
					<ul class="layui-nav" lay-filter="">
						<li class="layui-nav-item">
							<a href="activity.html">活动</a>
						</li>
						<li class="layui-nav-item">
							<a href="#">动态</a>
						</li>
						<li class="layui-nav-item">
							<a href="case.html">义诊</a>
						</li>
						<li class="layui-nav-item layui-this">
							<a href="about.html">关于</a>
						</li>
						<li class="layui-nav-item">
							<a href="#">资源</a>
						</li>
						<li class="layui-nav-item">
							<a href="memberNewsMynews.html">会员中心</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- banner部分 -->
		<div class="banner about">
			<div class="title">
				<p>关于我们</p>
				<p class="en">About Us</p>
			</div>
		</div>
		<!-- main部分 -->
		<div class="main-about">
			<div class="layui-container">
				<div class="layui-row">
					<ul class="aboutab">
						<li class="layui-this">发展历程</li>
						<li>会员招募</li>
						<li>协会简介</li>
					</ul>
					<div class="tabCour">
						<p class="title">我们的蜕变</p>
						<ul class="timeline">
							<li class="odd">
								<div class="cour-img"><img src="../res/static/img/us_img4.png"></div>
								<div class="cour-panel layui-col-sm4 layui-col-lg5">
									<p class="label">2005 年 </p>
									<p>我们成立了，一个学术科技类社团</p>
								</div>
							</li>
							<li>
								<div class="cour-img"><img src="../res/static/img/us_img5.png"></div>
								<div class="cour-panel layui-col-sm4 layui-col-sm-offset8 layui-col-lg5 layui-col-lg-offset7">
									<p class="label">2011 年 </p>
									<p>"第六届全国信息技术应用水平大赛"Java程序设计组优秀奖</p>
								</div>
							</li>
							<li class="odd">
								<div class="cour-img"><img src="../res/static/img/us_img6.png"></div>
								<div class="cour-panel layui-col-sm4 layui-col-lg5">
									<p class="label">2012 年 </p>
									<p>全国信息技术应用水平大赛-移动互联网站设计【HTML】四川省三等奖</p>
								</div>
							</li>
							<li>
								<div class="cour-img"><img src="../res/static/img/us_img7.png"></div>
								<div class="cour-panel layui-col-sm4 layui-col-sm-offset8 layui-col-lg5 layui-col-lg-offset7">
									<p class="label">2013 年 </p>
									<p>最具潜力社团</p>
								</div>
							</li>
							<li class="odd">
								<div class="cour-img"><img src="../res/static/img/us_img4.png"></div>
								<div class="cour-panel layui-col-sm4 layui-col-lg5">
									<p class="label">2017 年 </p>
									<p>华迪杯-中国大学生计算机设计大赛四川省二等奖</p>
								</div>
							</li>

							<li>
								<div class="cour-img"><img src="../res/static/img/us_img5.png"></div>
								<div class="cour-panel layui-col-sm4 layui-col-sm-offset8 layui-col-lg5 layui-col-lg-offset7">
									<p class="label">2017 年 </p>
									<p>中国大学生计算机设计大赛四川省二等奖</p>
								</div>
							</li>
							<li class="odd">
								<div class="cour-img"><img src="../res/static/img/us_img6.png"></div>
								<div class="cour-panel layui-col-sm4 layui-col-lg5">
									<p class="label">2017 年 </p>
									<p>年度三星级社团</p>
								</div>
							</li>
							<li>
								<div class="cour-img"><img src="../res/static/img/us_img7.png"></div>
								<div class="cour-panel layui-col-sm4 layui-col-sm-offset8 layui-col-lg5 layui-col-lg-offset7">
									<p class="label">2018 年 </p>
									<p>中国大学生计算机设计大赛四川省二等奖</p>
								</div>
							</li>
							<li>
								<div class="cour-img"><img src="../res/static/img/us_img8.png"></div>
								<div class="cour-panel layui-col-sm4 layui-col-sm-offset8 layui-col-lg5 layui-col-lg-offset7">

								</div>
							</li>
						</ul>
					</div>
					<div class="tabJob">
						<div class="content">
							<p class="title">计算机协会 会员</p>
							<p>> 会员福利</p>
							<ol>
								<li>了更加方便、快捷地解到更多的计算机相关知识；</li>
								<li>参与协会举办的活动，拿综测；</li>
								<li>免费获得所需要的各类软件资源；</li>
								<li>学期考核加综测。</li>
							</ol>
						</div>
						<div class="content">
							<p class="title">计算机协会 理事</p>
							<p>> 理事待遇</p>
							<ol>
								<li>活动策划、举办；</li>
								<li>更大的人际交流平台，提升能力；</li>
								<li>学到高逼格的计算机技术；</li>
								<li>竞选会长，获得更大的发展平台；</li>
								<li>评奖评优，拿综测。</li>
							</ol>
						</div>
					</div>
					<!--tabIntro-->
					<div class="tabJob" style="width: 800px; margin: 0 auto; padding: 100px;font-size: 20px;line-height: 35px; color: #aeafae;text-indent: 2em; border-top: 2px solid #65d0c5;border-left: 1px solid #e2e2e2;border-right: 1px solid #e2e2e2;border-bottom: 1px solid #e2e2e2; ">
						<img src="../res/static/img/computerAssociation.png" style="display: block; width: 700px; height: 450px; margin: 0 auto;"/>
						<div class="content" style="padding-top: 30px;">
							西南石油大学计算机协会成立于2005年，是一个学术科技类社团。协会致力于提高会员的计算机应用能力，为全校同学和其他组织提供技术支持和计算机维护。计算机协会是唯一有固定的办公室的社团，协会内部有各类IT技术资源，在技术和学术上更拥有传智播客、源代码、华硕等多方面的支持。协会每月定期开展电脑义诊活动，义务帮助全校师生解决计算机方面的问题，服务项目包括重装系统、office和编译器等软件安装、电脑除尘以及常见问题处理。协会也会不定期地邀请校外或校内老师为同学开展各类讲座，为同学们的专业、就业及研究方向做出指导和建议，如邀请传播智客的副总载来讲座，举办成都计算机协会沙龙，包括7个学校8个计算机社团。，协会拿到了校园十佳社团以及星级社团的称号。
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- footer部分 -->
		<div class="footer">
			<div class="layui-container">
				<p class="footer-web">
					<a href="javascript:;">西南石油大学</a>
					<a href="javascript:;">西南石油大学校团委</a>
					<a href="javascript:;">西南石油大学社团联合会</a>
					<a href="javascript:;">西南石油大学教务处</a>
					<a href="javascript:;">计算机二级报名</a>
				</p>
				<div class="layui-row footer-contact">
					<div class="layui-col-sm2 layui-col-lg1"><img src="../res/static/img/qq.png" width="80px" height="80px"></div>
					<div class="layui-col-sm10 layui-col-lg11">
						<div class="layui-row">
							<div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
								<p class="contact-top"><i class="layui-icon layui-icon-login-qq"></i>&nbsp;460551721&nbsp;&nbsp;(9:00-18:00)</p>
								<p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;computerAssociation@qq.com</span>
								</p>
							</div>
							<div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
								<p class="contact-top"><span class="right">网站版权归 <a href="" target="_blank">西南石油大学计算机协会</a> 所有</span>
								</p>
								<p class="contact-bottom"><span class="right">Copyright&nbsp;©&nbsp;2019-2020&nbsp;&nbsp;ICP&nbsp;备888888号</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../res/layui/layui.js"></script>
		<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
		<script>
			layui.config({
				base: '../res/static/js/'
			}).use('firm');
		</script>
	</body>

</html>