<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
		<title>西柚计算机协会-首页</title>
		<link rel="stylesheet" href="../res/layui/css/layui.css">
		<link rel="stylesheet" href="../res/static/css/index.css">
	</head>

	<body>
		<!-- nav部分 -->
		<div class="nav">
			<div class="layui-container">
				<!-- 协会logo -->
				<div class="nav-logo">
					<a href="./index.html">
						<p class="title" style="font-size: 30px;">
							<img src="http://39.106.218.57/img/ico_001.png" alt="西柚计算机协会"> 西柚计算机协会
						</p>
					</a>
				</div>
				<div class="nav-list">
					<button>
						<span></span><span></span><span></span>
					</button>
					<ul class="layui-nav" lay-filter="">
						<li class="layui-nav-item">
							<a href="activity.html">活动</a>
						</li>
						<li class="layui-nav-item">
							<a href="#">动态</a>
						</li>
						<li class="layui-nav-item">
							<a href="case.html">义诊</a>
						</li>
						<li class="layui-nav-item">
							<a href="about.html">关于</a>
						</li>
						<li class="layui-nav-item">
							<a href="#">资源</a>
						</li>
						<li class="layui-nav-item">
							<a href="memberNewsMynews.html">会员中心</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- banner部分 -->
		<div>
			<div class="layui-carousel" id="banner">
				<div carousel-item id="banner_content">
					<div>
						<img src="../res/static/img/banner1.jpg">
						<div class="panel">
							<p class="title">计算机协会</p>
							<p>欢迎您的到来</p>
						</div>
					</div>
					<div>
						<img src="../res/static/img/banner2.jpg">
						<div class="panel">
							<p class="title">计算机协会</p>
							<p>协会招新啦</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- main部分 -->
		<div class="main-activity">
			<div class="layui-container">
				<p class="title">专为柚子们而打造的<span>精品活动</span></p>
				<div class="layui-row layui-col-space25">
					<div class="layui-col-sm6 layui-col-md3">
						<div class="content">
							<div><img src="../res/static/img/Big_icon1.png"></div>
							<div style="padding-bottom: 28px;">
								<p class="label">电脑义诊</p>
								<!--content-->
								<p>
									作为计算机协会的特色活动，旨在帮助在校师生解决各种电脑问题。系统重装？我们可以！OFFICE、MA-TLAB...安装? 我们可以！还有电脑除尘等特色服务。
								</p>
							</div>
							<a href="javascript:;">活动详情 ></a>
						</div>
					</div>
					<div class="layui-col-sm6 layui-col-md3 ">
						<div class="content">
							<div><img src="../res/static/img/Big_icon2.png"></div>
							<div>
								<p class="label">会员大会</p>
								<p>向会员们介绍计协的发展、取得成就、日常工作，常规活动;让会员们学习更多与计算机技术相关的知识；提升会员们自身的创新开发能力；营造内部和谐、积极、团结的氛围。
								</p>
							</div>
							<a href="javascript:;">活动详情 ></a>
						</div>
					</div>
					<div class="layui-col-sm6 layui-col-md3 ">
						<div class="content">
							<div><img src="../res/static/img/Big_icon3.png"></div>
							<div>
								<p class="label">科技竞赛</p>
								<p>搭建学术交流和竞赛平台，促进学生们和师生之间的学术交流；提高广大学生的计算机技术，普及计算机相关知识；丰富大学生课余生活，给同学们展现和提升自己的机会。
								</p>
							</div>
							<a href="javascript:;">活动详情 ></a>
						</div>
					</div>
					<div class="layui-col-sm6 layui-col-md3 ">
						<div class="content">
							<div><img src="../res/static/img/Big_icon4.png"></div>
							<div style="padding-bottom: 56px;">
								<p class="label">技术培训</p>
								<p>
									协会长期开展技能培训,常见的电脑故障解决，笔记本质量好坏的判断，电脑内部机构只是普及，办公技能培训，计算机二级培训等等。
								</p>
							</div>
							<a href="javascript:;">活动详情 ></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-service">
			<div class="layui-container">
				<p class="title">为柚子提供完美的<span>专业服务</span></p>
				<div class="layui-row layui-col-space25 layui-col-space80">
					<div class="layui-col-sm6">
						<div class="content">
							<div class="content-left"><img src="../res/static/img/home_img1.jpg"></div>
							<div class="content-right">
								<p class="label">义诊预约</p>
								<span></span>
								<!--content-->
								<p>为您解决各种电脑问题：重装系统、软件安装、拆机、除尘...</p>
							</div>
						</div>
					</div>
					<div class="layui-col-sm6">
						<div class="content">
							<div class="content-left"><img src="../res/static/img/home_img2.jpg"></div>
							<div class="content-right">
								<p class="label">资源分享</p>
								<span></span>
								<p>分享技术福利，计算机知识，还有有趣的应用、网站</p>
							</div>
						</div>
					</div>
					<div class="layui-col-sm6">
						<div class="content">
							<div class="content-left"><img src="../res/static/img/home_img3.jpg"></div>
							<div class="content-right">
								<p class="label">IT资讯</p>
								<span></span>
								<p>丰富大家的知识面，增加对IT时代实时的关注</p>
							</div>
						</div>
					</div>
					<div class="layui-col-sm6">
						<div class="content">
							<div class="content-left"><img src="../res/static/img/home_img4.jpg"></div>
							<div class="content-right">
								<p class="label">技术指导</p>
								<span></span>
								<p>开展技能培训，设计计算机各个方面，提升计算机技能</p>
							</div>
						</div>
					</div>
				</div>
				<div class="service-more">
					<a href="">查看更多</a>
				</div>
			</div>
		</div>
		<!-- footer部分 -->
		<div class="footer">
			<div class="layui-container">
				<p class="footer-web">
					<a href="javascript:;">西南石油大学</a>
					<a href="javascript:;">西南石油大学校团委</a>
					<a href="javascript:;">西南石油大学社团联合会</a>
					<a href="javascript:;">西南石油大学教务处</a>
					<a href="javascript:;">计算机二级报名</a>
				</p>
				<div class="layui-row footer-contact">
					<div class="layui-col-sm2 layui-col-lg1"><img src="../res/static/img/qq.png" width="80px" height="80px"></div>
					<div class="layui-col-sm10 layui-col-lg11">
						<div class="layui-row">
							<div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
								<p class="contact-top"><i class="layui-icon layui-icon-login-qq"></i>&nbsp;460551721&nbsp;&nbsp;(9:00-18:00)</p>
								<p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;computerAssociation@qq.com</span>
								</p>
							</div>
							<div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
								<p class="contact-top"><span class="right">网站版权归 <a href="" target="_blank">西南石油大学计算机协会</a> 所有</span>
								</p>
								<p class="contact-bottom"><span class="right">Copyright&nbsp;©&nbsp;2019-2020&nbsp;&nbsp;ICP&nbsp;备888888号</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../res/layui/layui.js"></script>
		<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
		<script>
			layui.config({
				base: '../res/static/js/'
			}).use('firm');
		</script>
		<script>
			layui.use('layer', function() {
				var $ = layui.$;
				//设置path
				var str = "http://www.gongsir.club/computerAssociation";
				sessionStorage.setItem('path', str);
				
				$(function() {
					$.post(sessionStorage.getItem('path')+"/api/img/show", {
						imgClass: 'logo'
					}, function(res) {
						if(res.data.status === true) {
							for(var i = 0; i < res.count; i++) {
								document.getElementById("banner_content").append("<div><img src='http://localhost" + res.data.data[i].imgLink + "'><div class='panel'><p class='title'>" + res.data.data[i].imgTitle + "</p><p>" + res.data.data[i].imgDesc + "</p></div></div>");
							}
						} else if(res.data.status === false) {
							layer.msg(res.data.msg, {
								icon: 2,
								time: 1500
							});
						}
					});
				});
			});
		</script>
	</body>

</html>