<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
		<title>西柚计算机协会-会员信息</title>
		<style type="text/css">
			.side-nav a{
				display: block;
			}
			.side-nav a:hover{
				background-color: #EEEEEE !important;
			}
			/*.side-nav a:visited{
				background-color: black !important;
			}*/
		</style>
		<link rel="stylesheet" href="../res/layui/css/layui.css" />
		<link rel="stylesheet" href="../res/static/css/index.css" />
	</head>

	<body>
		<!--nav部分-->
		<div class="nav">
			<div class="layui-container">
				<!--协会logo-->
				<div class="nav-logo">
					<a href="index.html">
						<p class="title" style="font-size: 30px;">
							<img src="http://39.106.218.57/img/ico_001.png" alt="西柚计算机协会" /> 西柚计算机协会
						</p>
					</a>
				</div>
				<div class="nav-list">
					<button>
						<span></span><span></span><span></span>
					</button>
					<ul class="layui-nav" lay-filter="">
						<li class="layui-nav-item">
							<a href="activity.html">活动</a>
						</li>
						<li class="layui-nav-item">
							<a href="news.html">动态</a>
						</li>
						<li class="layui-nav-item">
							<a href="case.html">义诊</a>
						</li>
						<li class="layui-nav-item">
							<a href="about.html">关于</a>
						</li>
						<li class="layui-nav-item">
							<a href="#">资源</a>
						</li>
						<li class="layui-nav-item layui-this">
							<a href="member.html">会员中心</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!--main-->

		<div class="layui-container" style="margin-top: 120px; ">
			<ul class="layui-nav layui-nav-tree  side-nav" lay-filter="" style="height: 300px; float: left; background-color: rgb(238,238,238,0.5); color: black;">
				<!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
				<li class="layui-nav-item " >
					<a href="memberNewsMynews.html" style=" color: black;"><i class="layui-icon"style="font-size: 20px; ">&#xe68e;</i> 我的信息</a>
				</li>
				<li class="layui-nav-item">
					<a href="memberNewsMychange.html" style=" color: black;"><i class="layui-icon" style="font-size: 20px;">&#xe620;</i> 修改资料</a>
				</li>
				<li class="layui-nav-item">
					<a href="memberNewsMypassword.html" style=" color: black;"><i class="layui-icon"style="font-size: 20px;"> &#xe673;</i> 修改密码</a>
				</li>

			</ul>

			<div style="float: right;">
				<div class="layui-container " style=" width: 980px; padding: 30px 0 30px 0; background-color:rgb(238,238,238,0.5);">
					<div class="layui-container" style=" width: 600px; margin: 0 auto;">
						<form class="layui-form layui-form-pane " action="">
							<div class="layui-form-item">
								<label class="layui-form-label">姓名</label>
								<div class="layui-input-block">
									<input type="text" name="username" required lay-verify="required" value="" autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">新密码</label>
								<div class="layui-input-block">
									<input type="password" name="password" required lay-verify="required" value="" autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">确认密码</label>
								<div class="layui-input-block">
									<input type="password" name="surePassword" required lay-verify="required" value="" autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<div class="layui-input-block">
									<button class="layui-btn" lay-submit lay-filter="register" >确定</button>
									<button type="reset" class="layui-btn layui-btn-primary">重置</button>
								</div>
							</div>

							
						</form>
					</div>
				</div>
			</div>

		</div>

	</body>

	<script src="../res/layui/layui.js"></script>
	<script>
		//注意：导航 依赖 element 模块，否则无法进行功能性操作
		
		
		layui.use(['form', 'element', 'layer', 'jquery'], function() {

			var layer = layui.layer;
			var form = layui.form;
			var element = layui.element;
			var $ = layui.$;
            var path= sessionStorage.getItem('path');
			
			//监听提交
			form.on('submit(register)', function(data) {
				console.log(11);
				$.ajax({
					
					type: "post",
					url: path+"/api/user/updatePassword",
//					data: {
//						"username":username,
//						"password":password
//					},//提交的数据
                    
                    //data: JSON.stringify(data.field),
                    //headers	:{'Content-Type': 'application/json'},
                    data:data.field,
					dataType: 'JSON',
					success: function(res) {
						//注册成功
						layer.alert("修改成功,请重新登录",function(){
							
							location.href = "member.html";
						});
						//location.href = "member.html";
					}

				});
				console.log(11);
				return false;

			});
			 
			element.on('nav(myNews)', function(elem) {
				console.log(11);
				layer.msg("我的信息");
			});
		});
	</script>

</html>